.rouge-highlight table td { padding: 5px; }
.rouge-highlight table pre { margin: 0; }
.rouge-highlight .c, .rouge-highlight .ch, .rouge-highlight .cd, .rouge-highlight .cpf {
  color: #75715e;
  font-style: italic;
}
.rouge-highlight .cm {
  color: #75715e;
  font-style: italic;
}
.rouge-highlight .c1 {
  color: #75715e;
  font-style: italic;
}
.rouge-highlight .cp {
  color: #75715e;
  font-weight: bold;
}
.rouge-highlight .cs {
  color: #75715e;
  font-weight: bold;
  font-style: italic;
}
.rouge-highlight .err {
  color: #960050;
  background-color: #1e0010;
}
.rouge-highlight .gi {
  color: #ffffff;
  background-color: #324932;
}
.rouge-highlight .gd {
  color: #ffffff;
  background-color: #493131;
}
.rouge-highlight .ge {
  font-style: italic;
}
.rouge-highlight .ges {
  font-weight: bold;
  font-style: italic;
}
.rouge-highlight .gr {
  color: #aa0000;
}
.rouge-highlight .gt {
  color: #aa0000;
}
.rouge-highlight .gh {
  color: #999999;
}
.rouge-highlight .go {
  color: #888888;
}
.rouge-highlight .gp {
  color: #555555;
}
.rouge-highlight .gs {
  font-weight: bold;
}
.rouge-highlight .gu {
  color: #aaaaaa;
}
.rouge-highlight .k, .rouge-highlight .kv {
  color: #66d9ef;
  font-weight: bold;
}
.rouge-highlight .kc {
  color: #66d9ef;
  font-weight: bold;
}
.rouge-highlight .kd {
  color: #66d9ef;
  font-weight: bold;
}
.rouge-highlight .kp {
  color: #66d9ef;
  font-weight: bold;
}
.rouge-highlight .kr {
  color: #66d9ef;
  font-weight: bold;
}
.rouge-highlight .kt {
  color: #66d9ef;
  font-weight: bold;
}
.rouge-highlight .kn {
  color: #f92672;
  font-weight: bold;
}
.rouge-highlight .ow {
  color: #f92672;
  font-weight: bold;
}
.rouge-highlight .o {
  color: #f92672;
  font-weight: bold;
}
.rouge-highlight .mf {
  color: #ae81ff;
}
.rouge-highlight .mh {
  color: #ae81ff;
}
.rouge-highlight .il {
  color: #ae81ff;
}
.rouge-highlight .mi {
  color: #ae81ff;
}
.rouge-highlight .mo {
  color: #ae81ff;
}
.rouge-highlight .m, .rouge-highlight .mb, .rouge-highlight .mx {
  color: #ae81ff;
}
.rouge-highlight .se {
  color: #ae81ff;
}
.rouge-highlight .sa {
  color: #66d9ef;
  font-weight: bold;
}
.rouge-highlight .sb {
  color: #e6db74;
}
.rouge-highlight .sc {
  color: #e6db74;
}
.rouge-highlight .sd {
  color: #e6db74;
}
.rouge-highlight .s2 {
  color: #e6db74;
}
.rouge-highlight .sh {
  color: #e6db74;
}
.rouge-highlight .si {
  color: #e6db74;
}
.rouge-highlight .sx {
  color: #e6db74;
}
.rouge-highlight .sr {
  color: #e6db74;
}
.rouge-highlight .s1 {
  color: #e6db74;
}
.rouge-highlight .ss {
  color: #e6db74;
}
.rouge-highlight .s, .rouge-highlight .dl {
  color: #e6db74;
}
.rouge-highlight .na {
  color: #a6e22e;
}
.rouge-highlight .nc {
  color: #a6e22e;
  font-weight: bold;
}
.rouge-highlight .nd {
  color: #a6e22e;
  font-weight: bold;
}
.rouge-highlight .ne {
  color: #a6e22e;
  font-weight: bold;
}
.rouge-highlight .nf, .rouge-highlight .fm {
  color: #a6e22e;
  font-weight: bold;
}
.rouge-highlight .no {
  color: #66d9ef;
}
.rouge-highlight .bp {
  color: #f8f8f2;
}
.rouge-highlight .nb {
  color: #f8f8f2;
}
.rouge-highlight .ni {
  color: #f8f8f2;
}
.rouge-highlight .nn {
  color: #f8f8f2;
}
.rouge-highlight .vc {
  color: #f8f8f2;
}
.rouge-highlight .vg {
  color: #f8f8f2;
}
.rouge-highlight .vi {
  color: #f8f8f2;
}
.rouge-highlight .nv, .rouge-highlight .vm {
  color: #f8f8f2;
}
.rouge-highlight .w {
  color: #f8f8f2;
}
.rouge-highlight .nl {
  color: #f8f8f2;
  font-weight: bold;
}
.rouge-highlight .nt {
  color: #f92672;
}
.rouge-highlight {
  color: #f8f8f2;
  background-color: #49483e;
}
