.rouge-highlight table td { padding: 5px; }
.rouge-highlight table pre { margin: 0; }
.rouge-highlight, .rouge-highlight .w {
  color: #bbbbbb;
  background-color: #000;
}
.rouge-highlight .c, .rouge-highlight .cd, .rouge-highlight .cm, .rouge-highlight .c1 {
  color: #888;
}
.rouge-highlight .cp {
  color: #579;
}
.rouge-highlight .cs {
  color: #cc0000;
  font-weight: bold;
}
.rouge-highlight .k, .rouge-highlight .kc, .rouge-highlight .kd, .rouge-highlight .kn, .rouge-highlight .kr, .rouge-highlight .kv {
  color: #080;
  font-weight: bold;
}
.rouge-highlight .kp {
  color: #038;
}
.rouge-highlight .kt {
  color: #339;
}
.rouge-highlight .o {
  color: #333;
}
.rouge-highlight .ow {
  color: #000;
  font-weight: bold;
}
.rouge-highlight .nb, .rouge-highlight .bp {
  color: #007020;
}
.rouge-highlight .nf {
  color: #06B;
  font-weight: bold;
}
.rouge-highlight .nc {
  color: #B06;
  font-weight: bold;
}
.rouge-highlight .nn {
  color: #0e84b5;
  font-weight: bold;
}
.rouge-highlight .ne {
  color: #F00;
  font-weight: bold;
}
.rouge-highlight .nv {
  color: #963;
}
.rouge-highlight .vi {
  color: #33B;
}
.rouge-highlight .vc {
  color: #369;
}
.rouge-highlight .vg {
  color: #d70;
  font-weight: bold;
}
.rouge-highlight .no {
  color: #036;
  font-weight: bold;
}
.rouge-highlight .nl {
  color: #970;
  font-weight: bold;
}
.rouge-highlight .ni {
  color: #800;
  font-weight: bold;
}
.rouge-highlight .na {
  color: #00C;
}
.rouge-highlight .nt {
  color: #070;
}
.rouge-highlight .nd {
  color: #555;
  font-weight: bold;
}
.rouge-highlight .s, .rouge-highlight .sb, .rouge-highlight .s2, .rouge-highlight .sh, .rouge-highlight .s1 {
  background-color: #fff0f0;
}
.rouge-highlight .sc {
  color: #04D;
}
.rouge-highlight .sd {
  color: #D42;
}
.rouge-highlight .si {
  background-color: #eee;
}
.rouge-highlight .se {
  color: #666;
  font-weight: bold;
}
.rouge-highlight .sr {
  color: #000;
  background-color: #fff0ff;
}
.rouge-highlight .ss {
  color: #A60;
}
.rouge-highlight .sx {
  color: #D20;
}
.rouge-highlight .m, .rouge-highlight .mb, .rouge-highlight .mx {
  color: #60E;
  font-weight: bold;
}
.rouge-highlight .mi, .rouge-highlight .il {
  color: #00D;
  font-weight: bold;
}
.rouge-highlight .mf {
  color: #60E;
  font-weight: bold;
}
.rouge-highlight .mh {
  color: #058;
  font-weight: bold;
}
.rouge-highlight .mo {
  color: #40E;
  font-weight: bold;
}
.rouge-highlight .gh {
  color: #000080;
  font-weight: bold;
}
.rouge-highlight .gu {
  color: #800080;
  font-weight: bold;
}
.rouge-highlight .gd {
  color: #A00000;
}
.rouge-highlight .gi {
  color: #00A000;
}
.rouge-highlight .gr {
  color: #FF0000;
}
.rouge-highlight .ge {
  font-style: italic;
}
.rouge-highlight .gs {
  font-weight: bold;
}
.rouge-highlight .gp {
  color: #c65d09;
  font-weight: bold;
}
.rouge-highlight .go {
  color: #888;
}
.rouge-highlight .gt {
  color: #04D;
}
.rouge-highlight .err {
  color: #F00;
  background-color: #FAA;
}
