.rouge-highlight table td { padding: 5px; }
.rouge-highlight table pre { margin: 0; }
.rouge-highlight, .rouge-highlight .w {
  color: #444444;
}
.rouge-highlight .cp {
  color: #CC00A3;
}
.rouge-highlight .cs {
  color: #CC00A3;
}
.rouge-highlight .c, .rouge-highlight .cd, .rouge-highlight .cm, .rouge-highlight .c1 {
  color: #FF0000;
}
.rouge-highlight .kc {
  color: #C34E00;
}
.rouge-highlight .kd {
  color: #0000FF;
}
.rouge-highlight .kr {
  color: #007575;
}
.rouge-highlight .k, .rouge-highlight .kn, .rouge-highlight .kp, .rouge-highlight .kt, .rouge-highlight .kv {
  color: #0000FF;
}
.rouge-highlight .s, .rouge-highlight .sb, .rouge-highlight .sc, .rouge-highlight .sd, .rouge-highlight .s2, .rouge-highlight .se, .rouge-highlight .sh, .rouge-highlight .si, .rouge-highlight .sx, .rouge-highlight .sr, .rouge-highlight .s1, .rouge-highlight .ss {
  color: #009C00;
}
.rouge-highlight .nb, .rouge-highlight .bp {
  color: #C34E00;
}
